@import "~primeng/resources/themes/lara-light-blue/theme.css";
@import "~primeng/resources/primeng.css";
@import "~primeicons/primeicons.css";
@import "~primeflex/primeflex.css";

.p-datatable-loading-overlay.p-component-overlay {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.p-datatable .p-datatable-header {
  background: transparent !important;
  border: none !important;
  border-width: 1px 0 1px 0 !important;
  padding: 0 0 2rem !important;
}

.p-inputnumber {
  width: 100% !important;
}

.p-fileupload-buttonbar,
.p-fileupload-content {
  padding: 0 !important;
  border: 0 !important;
  background: transparent !important;
}

.p-fileupload-content p-progressbar {
  display: none;
}
