<div
  *ngIf="(gameStage$ | async) === GameStageEnum.Ready"
  class="flex-grow-1 text-center flex flex-column align-items-center justify-content-center"
>
  <ng-container *ngIf="playlist$ | async as playlist">
    <h1 class="mb-6">Hit Start button when you are ready to play</h1>

    <img class="mb-6" *ngIf="playlist.images[0]?.url" [ngSrc]="playlist.images[0].url" [width]="250" [height]="250">

    <button class="p-button-lg" pButton label="Start" (click)="onStart()"></button>
  </ng-container>
</div>

<div *ngIf="(gameStage$ | async) === GameStageEnum.Playing" class="flex-grow-1 flex flex-column">
  <app-score class="flex-grow-1" [gameState]="gameState$ | async"></app-score>

  <app-game-level
    [gameLevel]="gameLevel$ | async"
    (guessSelected)="onGuessSelected($event)"
  ></app-game-level>

  <button class="mt-2 p-button-secondary" pButton label="Back to playlists" (click)="onGoBack()"></button>
</div>

<div *ngIf="(gameStage$ | async) === GameStageEnum.Finished" class="flex-grow-1 flex flex-column justify-content-center align-items-center">
  <app-score [gameState]="gameState$ | async"></app-score>

  <div class="mt-3">
    <button class="p-button-lg mr-3" pButton label="Retry" (click)="onStart()"></button>
    <button class="p-button-lg" pButton label="Back to playlists" (click)="onGoBack()"></button>
  </div>
</div>

<p-toast></p-toast>
